body {
  /* text-align: center; */
  /* background: #62bcfa; */
  background: #C6EEF6;
  font-family: 'Roboto', sans-serif;
}

.form-control {
  /* border-radius: 0; */
  box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.1) !important;
}

/* ::-webkit-scrollbar {
  height: 6px;
  background: #fff;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
} */

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}